{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import", "react", "react-hooks"],
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "no-undef": [0, "never"],
    "jsx-quotes": [1, "prefer-double"],
    "camelcase": [
      1,
      {
        "properties": "always"
      }
    ],
    "comma-dangle": [0, "never"],
    "semi": [0],
    "quotes": [
      1,
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "strict": [1, "global"],
    "no-multiple-empty-lines": [0],
    "no-control-regex": 0,
    "no-self-assign": 0,
    "prefer-spread": 0,
    "eslint-disable-next-line": [0],
    "react/react-in-jsx-scope": [0], // 要在jsx中import React from "react'
    "@typescript-eslint/object-curly-spacing": [0], // 放开‘少写空格’的校验
    "import/prefer-default-export": [0], // 放开默认没有export default 的校验
    "@typescript-eslint/no-unused-vars": [0],
    "@typescript-eslint/semi": [0], // 不检测代码末尾的 ;
    "eol-last": 0, // 取消最后一个空行的校验
    "no-console": [0],
    "import/extensions": [0],
    "@typescript-eslint/indent": [
      0,
      2,
      {
        "SwitchCase": 1,
        "ignoredNodes": ["TemplateLiteral > *", "JSXOpeningElement > *"]
      }
    ],
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-namespace": 0,
    "@typescript-eslint/ban-types": 0,
    "@typescript-eslint/no-empty-interface": 0,
    "react/jsx-curly-spacing": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-indent": [0, 2],
    "react/jsx-no-undef": 0,
    "react/prop-types": 0,
    "react/display-name": 0,
    "react/no-string-refs": 0,
    "react-hooks/rules-of-hooks": "warn", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn" // Checks effect dependencies
  }
}
